nav(class="navbar navbar-expand-md navbar-dark bg-primary")
    div(class="navbar-brand")
        img(src="img/brand.png" width="40" height="40" alt="")
    button(class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="navbar-collapse collapse" id="navbarsExampleDefault" style="")
        ul(class="nav navbar-nav mr-auto")
            li(class="nav-item active")
                a(class="nav-link" id="home-tab" data-toggle="tab" href="#/home" data-target="#home" role="tab" aria-controls="home" aria-selected="false") Home
            li(class="nav-item")
                a(class="nav-link" id="rankings-tab" data-toggle="tab" href="#/rankings" data-target="#rankings" role="tab" aria-controls="rankings" aria-selected="false") Rankings
            li(class="nav-item")
                a(class="nav-link" id="league-tab" data-toggle="tab" href="#/league" data-target="#league" role="tab" aria-controls="league" aria-selected="true") League
            li(class="nav-item")
                a(class="nav-link" id="stats-tab" data-toggle="tab" href="#/stats" data-target="#stats" role="tab" aria-controls="stats" aria-selected="true") Stats
            li(class="nav-item")
                a(class="nav-link" id="matchups-tab" data-toggle="tab" href="#/matchups" data-target="#matchups" role="tab" aria-controls="matchups" aria-selected="false") Matchups
            li(class="nav-item")
                a(class="nav-link" id="matches-tab" data-toggle="tab" href="#/matches" data-target="#matches" role="tab" aria-controls="matches" aria-selected="false") Matches
            li(class="nav-item")
                a(class="nav-link" id="match-tab" data-toggle="tab" href="#/match" data-target="#match" role="tab" aria-controls="match" aria-selected="false") Match Detail
            li(class="nav-item")
                a(class="nav-link" id="records-tab" data-toggle="tab" href="#/records" data-target="#records" role="tab" aria-controls="records" aria-selected="false") W-L Records
            li(class="nav-item")
                a(class="nav-link" id="profile-tab" data-toggle="tab" href="#/profile" data-target="#profile" role="tab" aria-controls="profile" aria-selected="false") Profile
            li(class="nav-item")
                a(class="nav-link" id="teamgen-tab" data-toggle="tab" href="#/teamgen" data-target="#teamgen" role="tab" aria-controls="teamgen" aria-selected="false") TeamGen
        a(target="_blank" rel="noopener noreferrer" href="https://github.com/devilesk/rl4d2l-stats" data-hint="Source on GitHub")
            svg(class="icon-github" width="24" height="24" version="1.1" viewBox="0 0 16 16")
                path(fill="white" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z")
