nav(class="navbar navbar-expand-md navbar-dark bg-primary")
    div(class="navbar-brand")
        img(src="img/brand.png" width="40" height="40" alt="")
    button(class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="navbar-collapse collapse" id="navbarsExampleDefault" style="")
        ul(class="nav navbar-nav mr-auto")
            li(class="nav-item active")
                a(class="nav-link" id="home-tab" data-toggle="tab" href="#/home" data-target="#home" role="tab" aria-controls="home" aria-selected="false") Home
            li(class="nav-item")
                a(class="nav-link" id="rankings-tab" data-toggle="tab" href="#/rankings" data-target="#rankings" role="tab" aria-controls="rankings" aria-selected="false") Rankings
            li(class="nav-item")
                a(class="nav-link" id="league-tab" data-toggle="tab" href="#/league" data-target="#league" role="tab" aria-controls="league" aria-selected="true") League
            li(class="nav-item")
                a(class="nav-link" id="matchups-tab" data-toggle="tab" href="#/matchups" data-target="#matchups" role="tab" aria-controls="matchups" aria-selected="false") Matchups
            li(class="nav-item")
                a(class="nav-link" id="matches-tab" data-toggle="tab" href="#/matches" data-target="#matches" role="tab" aria-controls="matches" aria-selected="false") Matches
            li(class="nav-item")
                a(class="nav-link" id="match-tab" data-toggle="tab" href="#/match" data-target="#match" role="tab" aria-controls="match" aria-selected="false") Match Detail
            li(class="nav-item")
                a(class="nav-link" id="records-tab" data-toggle="tab" href="#/records" data-target="#records" role="tab" aria-controls="records" aria-selected="false") W-L Records
            li(class="nav-item")
                a(class="nav-link" id="profile-tab" data-toggle="tab" href="#/profile" data-target="#profile" role="tab" aria-controls="profile" aria-selected="false") Profile
            li(class="nav-item")
                a(class="nav-link" id="teamgen-tab" data-toggle="tab" href="#/teamgen" data-target="#teamgen" role="tab" aria-controls="teamgen" aria-selected="false") TeamGen