div(class="tab-pane fade" id="league" role="tabpanel" aria-labelledby="league-tab")
    each side in ["survivor", "infected"]
        div(class=side id=side)
            div(class="hot-container bg-light")
                div(id="table-"+side)
            div(class="m-4")
                div(class="chart-container "+side+"-chart-container")
                    canvas(id=side+"-chart" width="200" height="200")
                div(id=side+"-chart-legend")
