div(class="tab-pane fade" id="rankings" role="tabpanel" aria-labelledby="rankings-tab")
    div(class="d-flex flex-wrap")
        div(class="hot-container rankings-container bg-light")
            div(id="table-rankings-total")
        div(class="hot-container rankings-container bg-light")
            div(id="table-rankings-survivor")
        div(class="hot-container rankings-container bg-light")
            div(id="table-rankings-infected")
    div(class="m-4")
        div(class="chart-container rankings-chart-container")
            canvas(id="rankings-chart" width="200" height="200")
        div(id="rankings-chart-legend")
