div(class="tab-pane main-tab-pane fade" id="teamgen" role="tabpanel" aria-labelledby="teamgen-tab")
    div(class="px-3 pb-3 bg-light")
        div(class="mb-0")
            span(class="mr-2") Discord bot command:
            code(id="teamgen-result")
    div(class="hot-container teamgen-container bg-light")
        div(id="teamgen-table")