div(class="tab-pane main-tab-pane fade" id="teamgen" role="tabpanel" aria-labelledby="teamgen-tab")
    div(class="row px-3 pb-3 bg-light")
        div(class="col-xl-8 input-group mb-0")
            input(id="teamgen-result" type="text" class="form-control form-control-sm" placeholder="Discord bot command")
            div(class="input-group-append")
                button(id="teamgen-copy" class="btn btn-secondary btn-sm" type="button") Copy
    div(class="hot-container teamgen-container bg-light")
        div(id="teamgen-table")