html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    height: 70px;
}

#nav-tabContent {
    height: calc(100vh - 70px);
}

.main-tab-pane {
    height: 100%;
    display: flex;
}

.main-tab-pane.active {
    display: flex;
    flex-direction: column;
}

.hot-container {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.chart-container {
    position: relative;
    height: 40vh;
    width: 100%;
    margin: auto;
    min-height: 250px;
}

.rankings-container {
    width: 417px;
    display: inline-block;
    flex-shrink: 0;
    height: auto;
}

.teamgen-container {
    height: auto;
}

.records-container {
    flex-grow: 1;
    min-height: 250px;
}

.matchups-container {
    flex-grow: 1;
    min-height: 250px;
}

.matches-container {
    flex-grow: 1;
    min-height: 250px;
}

.teamgen-container {
    flex-grow: 1;
    min-height: 250px;
}

@media only screen and (min-width: 768px) and (max-width: 793px) {
    li.nav-item {
        font-size: .89rem;
    }
}

.match-container {
    height: 230px;
}

.rankings-chart-container, .survivor-chart-container, .infected-chart-container {
    height: 80vh;
}

#rankings-chart-legend,
#survivor-chart-legend,
#infected-chart-legend {
    width: 90vw;
    margin: auto;
}
.rankings-chart-legend-item,
.survivor-chart-legend-item,
.infected-chart-legend-item {
    width: 90px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    cursor: pointer;
    text-align: left;
    user-select: none;
}
.rankings-chart-legend-item.inactive,
.survivor-chart-legend-item.inactive,
.infected-chart-legend-item.inactive {
    text-decoration: line-through;
}

select.form-control:not([size]):not([multiple]) {
    height: auto!important;
}

.handsontable thead th {
    font-size: 12px;
}

.handsontable td, .handsontable th {
    white-space: nowrap;
}

.cow-tank {
    max-height: 264px;
    max-width: 264px;
}