.div(class="text-center season-container season-3" + (3 === seasonOptions[0].value ? ' active' : ''))
    <iframe src="https://challonge.com/rl4d2ls3/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>