.div(class="mb-3 text-center season-container season-2" + (2 === seasonOptions[0].value ? ' active' : ''))
    .bracket
        section.round.quarterfinals
            .winners
                .matchups
                    .matchup
                        .participants
                            .participant.bg-light
                                span 1. 
                            .participant.bg-light
                                span 8. 
                    .matchup
                        .participants
                            .participant.bg-light
                                span 4. 
                            .participant.bg-light
                                span 5. 
                .connector
                    .merger
                    .line
            .winners
                .matchups
                    .matchup
                        .participants
                            .participant.bg-light
                                span 2. 
                            .participant.bg-light
                                span 7. 
                    .matchup
                        .participants
                            .participant.bg-light
                                span 3. 
                            .participant.bg-light
                                span 6. 
                .connector
                    .merger
                    .line
        section.round.semifinals
            .winners
                .matchups
                    .matchup
                        .participants
                            .participant.bg-light
                                span 
                            .participant.bg-light
                                span 
                    .matchup
                        .participants
                            .participant.bg-light
                                span 
                            .participant.bg-light
                                span 
                .connector
                    .merger
                    .line
        section.round.finals
            .winners
                .matchups
                    .matchup
                        .participants
                            .participant.bg-light
                                span 
                            .participant.bg-light
                                span 